<template>
  <div class="box-container">

    <div  v-for="character in characters">
      <div class ="character-box">
        <router-link active-class="test" :to="{ name: 'character', params: {id: character.id } }">
        <img :src= character.image alt="photo">
        </router-link>
        <div class="details">
          <p>{{ character.name }}</p>
        </div>
      </div>
    </div>
  <div>
    <button v-if="prev" @click="this.getCharacters(prev)">Prev</button>
    <button v-if="next" @click="this.getCharacters(next)">Next</button>
  </div>

  </div>
</template>

<script>
import { charactersStore } from '@/stores/characters';
import router from "@/router";

export default {

  data() {
    return {
      prev: String,
      next: String,
      characters: [],
    };
  },

  methods: {
    setup() {
      const store = charactersStore()
    },
    async getCharacters(url = "https://rickandmortyapi.com/api/character") {
      try {
        let res = await fetch(url);
        let data = await res.json();

        this.prev = data.info.prev;
        this.next = data.info.next;
        this.characters = data.results;
        const store = charactersStore();

        store.characters = data;

      } catch (error) {
        console.log(error);
      }
    },

  },

  created() {
    this.getCharacters();
  },
};
</script>

<style scoped>
  img {
    border: solid 12px greenyellow;
    border-radius: 50%;
    cursor: pointer;
  }
  img:hover {
    border-color: springgreen;
  }
</style>
