<template>

  <div class ="character-box">
    <router-link :to="{ name: 'character', params: {id: character.id } }">
      <img :src= character.image alt="photo">
    </router-link>
    <div class="details">
      <p><span class="txt-focus">Name : </span>{{ character.name }}</p>
      <p><span class="txt-focus">Status : </span>{{ character.status }}</p>
      <p><span class="txt-focus">Origin :  </span>{{ character.origin.name }}</p>
      <p><span class="txt-focus">Location :  </span>{{ character.location.name }}</p>
      <p class="txt-focus">Appears in :</p>
      <ul  v-for="episode in character.episode" >
        <li>
          {{episode}}
        </li>
      </ul>
    </div>
  </div>

  <button @click="this.prev()">Prev</button>

</template>

<script>
import { charactersStore } from '@/stores/characters';
import router from "@/router";
export default {
  setup() {
    const store = charactersStore();
  },

  data() {
    return {
      characterId: Number,
      character: JSON,
    };
  },
  methods: {
    async getCharacter() {
      let characterId = this.$route.params.id;

      try {
        let res = await fetch(`${"https://rickandmortyapi.com/api/character/" + characterId}`);
        this.character = await res.json();

      } catch (error) {
        console.log(error);
      }

    },
    prev() {
      router.push('/');
    }
  },
  created() {
    this.getCharacter();
  },
}
</script>

<style scoped>
img {
  border-radius: 50%;
  margin-top: 42px;
}

</style>