<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
</script>

<template>
  <div class="container">
  <header>
    <!-- CSS only -->
    <div>
      <nav class=" navbar navbar-expand-lg sticky-top">
        <RouterLink to="/">Characters</RouterLink>
        <RouterLink to="/localisations">Localisations</RouterLink>
      </nav>
    </div>

  </header>

  <RouterView />
  </div>
</template>

<style>
@import "@/assets/base.css";
.box-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 2em;
}

.character-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}


.details {
  color: lawngreen;
  margin-top: 12px;
  font-size: 1.5em;
}
.txt-focus {
  color: cornflowerblue;
}
button {
  margin-top: 42px;
  background-color: chartreuse;
  display: inline-block;
  padding: 15px 15px;
  margin-right: 12px ;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px green;
}
button:hover {background-color: lightgreen}

button:active {
  background-color: darkolivegreen;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#app {
  margin: auto;
  padding: 2rem;

}

.container {
  display: flex;
  flex-direction: column;
}

@media (hover: hover) {
  a:hover {
  }
}

nav {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}

nav a.router-link-exact-active {
  color: var(--color-text);
  font-size: 1.5em;
  color:greenyellow;
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
  font-size: 1.5em;
  color: green;
}

nav a:first-of-type {
  border: 0;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;

  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }



  nav {
    text-align: left;
    margin-left: -1rem;
    font-size: 1rem;

    padding: 1rem 0;
    margin-top: 1rem;
  }
}
</style>
